body {
    background-color: rgb(251, 251, 251);
    padding-top: 20px;
}

hr{
    width: 40%;
    text-align: center;
    height: 6px;
    border-color: white;
    background-color: rgb(0, 183, 255);
}

h1{
    color: rgb(28, 113, 43);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #5594fa;
    color: #fff;
    border: none;
    margin-right: 20px;
    border-radius: 2px;
    padding: 12px;
    min-height: 40px;
    min-width: 300px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.button:hover {
    transition: 0.7s;
}

#quoteDisplay{
    margin: 20px 0px;
    letter-spacing: 0.7px;
    color: rgb(46, 46, 46);
}
